.markdownInput {
  font-family: var(--fontStack-monospace);
  font-size: 14px;
  line-height: 1.5;
  border: none;
  padding: 0;
  margin: 0;
  field-sizing: content;
  width: 100%;
  resize: none;
  background: none;
  color: var(--fgColor-default);
  outline: none;
  min-height: 100%;
}

.highlight {
  background-color: var(--bgColor-accent-emphasis);
  opacity: 0.4;
  position: absolute;
  z-index: 10;
}
